.main {
    max-width: 1240px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
}

.loader {
    text-align: center;
    margin: 0 auto;
    margin-top: 30vh;
}