@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url("./jetbrains-mono/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url("./jetbrains-mono/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url("./jetbrains-mono/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url("./jetbrains-mono/JetBrainsMono-Bold.woff2") format("woff2");
}