.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.nutrition {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.image {
    height: 240px;
    width: 480px;
}

.loader {
    text-align: center;
    margin: 0 auto;
    margin-top: 30vh;
}